<div>
    <div *ngIf="hostId; else info">
        <!--Correctly navigated-->
        <div *ngIf="!loading; else loadingSpinner">
            <!--Already fetched catalogue-->
            <div *ngIf="showQR; else catalogue" id="qr" class="grad">
                <div class="qr-container">
                    <h2 class="share-title">PlayHits! de {{host.name}}</h2>
                    <qrcode [qrdata]="appUrl + '/catalogue?host=' + host.id" [errorCorrectionLevel]="'M'">Tu código QR</qrcode>
                    <button (click)="share()" nz-button class="share-btn" nzType="primary" nzShape="round" style="background-color: white; margin-bottom: 4px;">Compartir link con amigos</button>
                    <button *ngIf="canShare" (click)="closeQR()" nz-button class="share-btn" nzType="primary" nzShape="round" style="background-color: white;">Volver al catálogo</button>   
                </div>
            </div>    
            <ng-template #catalogue>
                <h3 class="catalogue-title">Catálogo de {{host.name}}</h3>
                <div class="search-container">
                    <input class="search" [(ngModel)]="searchTerm" placeholder="Busca una canción o artista" />
                    <button (click)="toggleQR()" nz-button nzType="primary" nzShape="round" class="grad">
                        Compartir
                    </button> 
                </div>
                <div class="song grad" *ngFor="let s of songs | searchSong:searchTerm">
                    <div class="song-info">
                        <div class="song-title">{{s.title}}</div>
                        <div class="song-singer">{{s.artist}}</div>
                    </div>
                    <div class="song-add" (click)="addSongToQueue(s.spotifySongUrl)">
                        <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
                    </div>
                </div>
            </ng-template>
        </div>
        <ng-template #loadingSpinner>
            <ngx-loading class="grad" [show]="true"></ngx-loading>
        </ng-template>
    </div>
    <ng-template #info>
        <div style="margin: 5%; text-align: justify;">
            <p>Esto es PlayHits, la plataforma en la que podrás compartir tu cola de Spotify para que otra gente añada caciones de tu catálogo. De momento estamos en fase de pruebas, pero planeamos abrir la plataforma a más usuarios próximamente.</p>
            <p>Si eres el dueño de un bar, una discoteca o simplemente quieres usar PlayHits en una fiesta con amigos, ponte en contacto con nosotros en <a href="mailto:inixio97@gmail.com">este email</a></p>
        </div>
        <div style="text-align: center; font-size: xx-large;">
            <i nz-icon nzType="qrcode" nzTheme="outline"></i>
        </div>
    </ng-template>
</div>