.login-form {
    max-width: 300px;
}

.login-form-margin {
    margin: 0 auto;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

form {
    margin: 0 auto;
    margin-top: 50px;
}