.loginInfo {
    margin: 20px 5px;
    text-align: center;
}

.qr {
    max-width: 256px;
}
.qr > p {
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-grow: 1;
}

.tables {
    display: flex;
}

.table-container {
    width: 50%;
    padding: 25px;
}

#image {
    padding: 0;
    width: 60px;
}

#check {
    width: 25px;
}

nz-table, table {
    max-width: 100%;
}

.ADDED {
    color: green;
}

.ALREADY_IN_QUEUE, .RECENTLY_PLAYED {
    color: #FFCE44;
}

.USER_LIMIT_REACHED {
    color: orange;
}

.FULL_QUEUE {
    color: red;
}
