.loginInfo {
    margin: 20px 5px;
    text-align: center;
}

.qr {
    max-width: 256px;
}
.qr > p {
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-grow: 1;
}

.tables {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .tables {
      flex-direction: column;
    }
  }

.table-container {
    padding: 25px;
    width: 100%;
}

.ant-tabs-tabpane {
    overflow: scroll;
}

#image {
    padding: 0;
    width: 60px;
}

#check {
    width: 25px;
}

nz-table, table {
    max-width: 100%;
}

highcharts-chart {
    max-width: 100%;
    overflow: scroll !important;
}

.ant-tabs-content-holder {
    overflow: scroll;
}

.chart-container {
    display: flex;
    flex-direction: column;
}

.ADDED {
    color: green;
}

.ALREADY_IN_QUEUE, .RECENTLY_PLAYED {
    color: #FFCE44;
}

.USER_LIMIT_REACHED {
    color: orange;
}

.FULL_QUEUE {
    color: red;
}
