<div *ngIf="!host; else hostInfo">Cargando...</div>
<ng-template #hostInfo>
    <div *ngIf="host && host.loggedInSpotify; else loginSpotify">
        <div id="main">
            <div class="qr">
                <qrcode [qrdata]="appUrl + '/catalogue?host=' + host.id" [width]="256" [errorCorrectionLevel]="'M'">Tu código QR</qrcode>
                <p>Tu código QR</p>
            </div>    
            <div class="table-container" *ngIf="myPlaylists && myPlaylists.items">
                <nz-table
                #rowSelectionTable
                nzShowPagination
                nzShowSizeChanger
                [nzData]="myPlaylists.items"
                [nzTotal]="myPlaylists.total"
                [nzPageSize]="10"
                [nzFrontPagination]="false"
                [nzPageIndex]="currentPage"
                (nzPageIndexChange)="changePage($event)"
                >
                <thead>
                    <tr>
                        <th [nzChecked]="setOfCheckedId.size === myPlaylists.total" (nzCheckedChange)="onAllChecked($event)"> En catálogo</th>
                        <th>Portada</th>
                        <th>Título</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let playlist of myPlaylists.items">
                    <td
                        id="check"
                        [nzChecked]="setOfCheckedId.has(playlist.id)"
                        (nzCheckedChange)="onItemChecked(playlist.id, $event)"
                    ></td>
                    <td id="image"><img height="60px" width="60px" style="margin: 0;" [src]="playlist.images[0].url"/></td>
                    <td>{{ playlist.name }}</td>
                    </tr>
                </tbody>
                </nz-table>
            </div>
        </div>
    </div>
    <ng-template #loginSpotify>
        <div class="loginInfo">
            <p>Para poder usar PlayHits! debes iniciar sesión con tu cuenta de Spotify. Tu cuenta sólo será utilizada para añadir canciones a tu cuenta de reproducción. Puedes denegarnos el acceso a tu cuenta en cualquier momento.</p>
            <button (click)="authorizeSpotify()" nz-button nzType="primary" nzShape="round" class="grad">
                Iniciar sesión con Spotify
            </button>
        </div>
    </ng-template>
</ng-template>